<div style="margin-bottom: 0rem;">
    <% if controller.controller_name == 'podcasts' %>
        <h5 class="mb-5 text-gray-800"><%= link_to sanitize("&larr; All podcasts"), podcasts_path, data: { turbo_frame: "_top" } %></h5>
        <h1 class="text-6xl font-semibold capitalize"> <%= @podcast.name %></h1>
    <% elsif controller.controller_name == 'episodes' %>
        <h5 class="mb-5 text-gray-800"><%= link_to sanitize("&larr; #{@podcast.name}"), @podcast, data: { turbo_frame: "_top" } %></h5>
        <h1 class="text-6xl font-semibold capitalize">Episodes</h1>
    <% end %>

    <div class="flex gap-3 items-center text-gray-600">
        
        <% if @podcast.account.avatar.attached? %>
            <%= link_to image_tag(@podcast.account.avatar, class: "w-8 h-8 rounded-full object-cover", alt: "#{@podcast.account.username}'s avatar"), profile_path(@podcast.account.username), data: { turbo_frame: "_top" } %>
        <% else %>
            <%= link_to image_tag('others/default avatar', class: "w-8 h-8 rounded-full object-cover", alt: "#{@podcast.account.username}'s avatar"), profile_path(@podcast.account.username), data: { turbo_frame: "_top" } %>
        <% end %>

        <h6 class="py-5"><%= link_to @podcast.account.name, profile_path(@podcast.account.username), data: { turbo_frame: "_top" } %></h6>

        <span>•</span>

        <%= render_date(@podcast) %>

        <span>•</span>

        <%= pluralize(@podcast.episodes.where(status: :published).count, 'episode') %>

    </div>
</div>