<%= render 'layouts/navigation/sidebar' %>

<%= render 'layouts/navigation/sidebar_menu' %>

<main class="py-5 md:py-3 mx-auto px-8 lg:px-8">

    <div class="max-w-screen-2xl grid grid-cols-1 md:grid-cols-[225px_minmax(100px,_1fr)] xl:grid-cols-[300px_minmax(100px,_1fr)] gap-0 md:gap-10 xl:gap-20">
        
        <!-- Display this only on large screens -->
        <div class="relative hidden md:block">
            <turbo-frame id="cover_art">
                <%= render 'dashboard/episodes/components/cover_art' %>
            </turbo-frame>
        </div>
        <!-- end -->

        <div>
            <turbo-frame id="show_header">
                <%= render 'dashboard/episodes/components/show_header' %>
            </turbo-frame>

            <!-- Display this only on small screens -->
            <div class="relative block md:hidden">
                <turbo-frame id="cover_art">
                    <%= render 'dashboard/episodes/components/cover_art' %>
                </turbo-frame>
            </div>
            <!-- end -->

            <div id="audio" class="mb-5">
                <%= render 'episodes/components/audio', episode: @episode %>
            </div>

            <div id="description" class="mb-5">
                <%= render 'dashboard/episodes/components/description', episode: @episode %>
            </div>
        </div>
    </div>
</p>