<div id="follow_button">
    <% if current_account %>
        <% follow = current_account.follows.find_by(followable: followable) %>
    <% end %>

    <% if follow.nil? %>  
        <%= button_to(follows_path, class:"inline-flex gap-1 items-center text-gray-900 bg-white border border-gray-300 focus:outline-none hover:bg-gray-100 focus:ring-4 focus:ring-gray-100 rounded text-sm px-4 py-2 dark:bg-gray-800 dark:text-white dark:border-gray-600 dark:hover:bg-gray-700 dark:hover:border-gray-600 dark:focus:ring-gray-700 font-bold", params: { follow: { followable_id: followable.id, followable_type: followable.class.to_s  } }) do %>
            Follow <%= followable.class.to_s %>

            <span class="text-gray-500"> (<%= followable.follows_count %>) </span>
        <% end %>
    <% else %>  
        <%= button_to(follow_path(follow), class:"inline-flex gap-1 items-center text-gray-900 bg-white border border-gray-300 focus:outline-none hover:bg-gray-100 focus:ring-4 focus:ring-gray-100 rounded text-sm px-4 py-2 dark:bg-gray-800 dark:text-white dark:border-gray-600 dark:hover:bg-gray-700 dark:hover:border-gray-600 dark:focus:ring-gray-700 font-bold", method: :delete ) do %>
            Unfollow <%= followable.class.to_s %>

            <span> (<%= followable.follows_count %>) </span>
        <% end %>
    <% end %>
</div>