<%= render 'layouts/navigation/sidebar' %>

<%= render 'layouts/navigation/sidebar_menu' %>

<main class="py-3 md:py-3 xl:py-5 mx-auto px-8 lg:px-8">

    <div class="flex items-center justify-between">
        <h1 class="text-4xl font-semibold capitalize leading-tight my-2"> My Podcasts</h1>

        <%= link_to new_dashboard_podcast_path, class: "rounded py-2 px-4 bg-blue-800 items-center text-white hover:bg-blue-900", data: {action: "click->dialog#open", turbo_frame: :modal} do %>
            New Podcast
        <% end %>
    </div>

    <div class="relative overflow-x-auto">
        <table class="w-full text-sm text-left rtl:text-right text-gray-500 dark:text-gray-400">
            <thead class="text-gray-700 uppercase bg-gray-50 dark:bg-gray-700 dark:text-gray-400">
                <tr>
                    <th scope="col" class="px-6 py-3">
                        Podcast name
                    </th>
                    <th scope="col" class="px-6 py-3">
                        Created by
                    </th>
                    <th scope="col" class="px-6 py-3">
                        Nos of episodes
                    </th>
                    <th scope="col" class="px-6 py-3">
                        Status
                    </th>
                    <th scope="col" class="px-6 py-3">
                        Date created
                    </th>
                </tr>
            </thead>
            <tbody>
                <% @podcasts.each do |podcast| %>
                    <tr class="bg-white border-b dark:bg-gray-800 dark:border-gray-700">
                        <th scope="row" class="px-6 py-4 font-medium text-gray-900 whitespace-nowrap dark:text-white">
                            <%= link_to podcast.name, dashboard_podcast_path(podcast) %>
                        </th>
                        <td class="px-6 py-4">
                                    <%= link_to podcast.account.name, profile_path(podcast.account.username) %>
                                </td>
                        <td class="px-6 py-4">
                            <%= podcast.episodes.count %>
                        </td>
                        <td class="px-6 py-4">
                            <%= link_to '', class: "rounded py-2 px-4 bg-blue-800 items-center text-white hover:bg-blue-900" do %>
                                Unpublish
                            <% end %>
                        </td>
                        <td class="px-6 py-4">
                            <%= render_date(podcast) %>
                        </td>
                    </tr>
                <% end %>
            </tbody>
        </table>
    </div>

</main>