<%= provide(:title, 'My Playlists') %>

<%= render 'layouts/navigation/sidebar' %>

<%= render 'layouts/navigation/sidebar_menu' %>

<div class="py-3 md:py-3 xl:py-5 mx-auto px-8 lg:px-8">

    <h1 class="text-2xl">Playlists</h1>
    <%= link_to 'New playlist', new_playlist_path, data: {action: "click->dialog#open", turbo_frame: :modal} %>
    
    <div id="playlists" class="grid grid-cols-1 sm:grid-cols-2 md:grid-cols-3 lg:grid-cols-6">
        <%= render @playlists %>
    </div>
</div>