<%= provide(:title, "#{@playlist.name} - Playlist") %>

<%= render 'layouts/navigation/sidebar' %>

<%= render 'layouts/navigation/sidebar_menu' %>

<main class="py-3 md:py-3 xl:py-5 mx-auto px-8 lg:px-8">

    <div class="max-w-screen-2xl grid grid-cols-1 md:grid-cols-[225px_minmax(100px,_1fr)] xl:grid-cols-[300px_minmax(100px,_1fr)] gap-0 md:gap-10 xl:gap-20">
        <div class="relative">
            <turbo-frame id="description">
                <%= render 'playlists/components/description' %>
            </turbo-frame>
        </div>

        <div>
            <turbo-frame id="show_header">
                <%= render 'playlists/components/show_header' %>
            </turbo-frame>
        </div>
    </div>
</main>