<%= form_with model: [reviewable, review] do |f| %>
  <%= render 'layouts/errors', f: f %>
  <div class="mb-4">
    <%= f.label :rating, "Rating", class: "block text-sm font-medium text-gray-700" %>
    
    <div data-controller="rating" class="flex space-x-1">
      <%= f.hidden_field :rating, data: { "rating-target": "input" } %>
      <% 5.times do |i| %>
        <% rating_value = i + 1 %>
        <span
          data-rating="<%= rating_value %>"
          data-rating-target="star"
          data-action="click->rating#setRating"
          class="shrink-0 cursor-pointer <%= review.rating.to_i >= rating_value ? 'text-yellow-500' : 'text-gray-300' %> text-2xl"
          viewbox="0 0 256 256"
        >
          ★
        </span>
      <% end %>
    </div>
  </div>

  <div class="mb-4">
    <%= f.label :comment, "Comment", class: "block mb-2 text-sm font-medium text-gray-900 dark:text-white" %>
    <%= f.text_area :comment, rows: 3, class: "bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-600 dark:border-gray-500 dark:placeholder-gray-400 dark:text-white", required: true %>
  </div>

  <div class="mb-4">
    <%= f.submit "Submit Review", class: "px-4 py-2 rounded bg-blue-800 items-center text-white hover:bg-blue-700 cursor-pointer" %>

    <%= link_to 'Cancel', reviewable, class: "text-gray-900 bg-white border border-gray-300 focus:outline-none hover:bg-gray-100 focus:ring-4 focus:ring-gray-100 font-medium rounded px-4 py-2 me-2 dark:bg-gray-800 dark:text-white dark:border-gray-600 dark:hover:bg-gray-700 dark:hover:border-gray-600 dark:focus:ring-gray-700" %>
  </div>
<% end %>