<%= link_to podcast, class: "p-2 hover:bg-gray-100 rounded-lg transition duration-300 ease-in-out block" do %>
    <% if podcast.cover_art.attached? %>
        <%= image_tag(podcast.cover_art, class: "h-auto max-w-full rounded-lg") %>
    <% else %>
        <%= image_tag('podcasts/hands.png', class: "h-auto max-w-full rounded-lg") %>
    <% end %>
    <div class="my-2">
        <h2 class="font-semibold"><%= (podcast.name).truncate(38) %></h2>
        <h2 class="font-semibold text-gray-500"><%= (podcast.account.name).truncate(38) %></h2>
    </div>
<% end %>