<%= provide(:title, 'All podcasts') %>

<%= render 'layouts/navigation/sidebar' %>

<%= render 'layouts/navigation/sidebar_menu' %>

<div class="py-3 md:py-3 xl:py-5 mx-auto px-8 lg:px-8">

    <div class="flex items-center">
        <%#= render 'podcasts/components/index_navigation' %>
    </div>
    
    <div id="podcasts" class="grid grid-cols-1 sm:grid-cols-2 md:grid-cols-3 lg:grid-cols-6">
        <%= render @podcasts %>
        <div class="block my-5">
            <%== pagy_nav(@pagy, link_extra: 'data-turbo-action="advance"') if @pagy.pages > 1 %>
        </div>
    </div>
</div>