<%= provide(:title, 'All podcasts') %>

<%= render 'layouts/navigation/sidebar' %>

<%= render 'layouts/navigation/sidebar_menu' %>

<div class="py-3 md:py-3 mx-auto px-8 lg:px-8">

    <div class="sm:w-full md:w-1/2 md:ml-auto my-3">
        <%= render 'podcasts/components/search_bar' %>
    </div>

    <%= content_tag(:"turbo-frame", id: "podcasts", class: "grid grid-cols-1 sm:grid-cols-2 md:grid-cols-3 lg:grid-cols-6") do %>
        <%= render @podcasts %>
    <% end %>

    <div class="mt-10">
        <%= turbo_frame_tag :pagination, loading: :lazy, src: podcasts_path(format: :turbo_stream) %>
    </div>
</div>