<!DOCTYPE html>
<html>
  <head>
    <title><%= full_title(yield(:title)) %></title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    
    <link href="https://cdn.jsdelivr.net/npm/tom-select@2.3.1/dist/css/tom-select.css" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Chivo:ital,wght@0,500;1,500&family=Roboto:wght@400&display=swap" rel="stylesheet">
    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_include_tag "application", "data-turbo-track": "reload", type: "module" %>

  </head>

  <body>
    <%= render 'layouts/navigation/navbar' %>
    <%#= render 'layouts/navigation/sidebar' %>

    <div class="max-w-screen-l">
      <%= render partial: 'layouts/flash', locals: { message: flash[:notice] } %>

      <div class="mt-16">
        <%= yield %>
      </div>

      <%= turbo_frame_tag :modal %>
    </div>
  </body>
</html>
