<ul class="flex flex-col mt-4 font-medium gap-4 md:flex-row md:mt-0 md:space-x-8 rtl:space-x-reverse">
    <li>
        <%= link_to image_tag("icons/home.png"), root_path, class: "w-5 h-5 block" %>
    </li>
    
    <li>
        <a href="/podcasts" class="w-5 h-5 block"><%= image_tag("icons/podcast.png") %></a>
    </li>
    <li>
        <a href="/events" class="w-5 h-5 block"><%= image_tag("icons/event.png") %></a>
    </li>
    <li>
        <a href="#" class="w-5 h-5 block"><%= image_tag("icons/gallery.png") %></a>
    </li>
    <li>
        <a href="#" class="w-5 h-5 block"><%= image_tag("icons/forum.png") %></a>
    </li>
    <li>
        <a href="#" class="w-5 h-5 block"><%= image_tag("icons/search.png") %></a>
    </li>
</ul>